<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SpringBoard</display-name>
  
  <!-- !외부!  에 DB에 관련된 파일 불러오기
  param-name -> 매개변수명(경로/파일명)
  param-value -> 경로/불러올 외부 파일명 ( DB관련파일명)
   -->
  <context-param>
  <param-name>contextConfigLocation</param-name>
  <param-value>/WEB-INF/dataAccessContext-local.xml</param-value>
  </context-param>
  
  
  <!-- 외부의 파일을 불러올 때 사용되는 클래스 -->
  <listener>
  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

<servlet>
  <servlet-name>books</servlet-name>
  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>


<servlet-mapping>
<servlet-name>books</servlet-name>
<url-pattern>*.books</url-pattern>
</servlet-mapping>


  <welcome-file-list>

    <welcome-file>index.jsp</welcome-file>

  </welcome-file-list>
  
  
  <filter>
	<filter-name>encodingFilter</filter-name>
	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
	<init-param>
		<param-name>encoding</param-name>
		<param-value>UTF-8</param-value>
	</init-param>
</filter>

<filter-mapping>
<filter-name>encodingFilter</filter-name>
<url-pattern>/*</url-pattern>
</filter-mapping>
  
  
  
</web-app>